/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Header Styles */
header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    padding: 5px 10px;
    transition: background 0.3s;
}

header nav ul li a:hover {
    background: #555;
    border-radius: 5px;
}

/* Main Content Styles */
main {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h2 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

.command {
    margin-bottom: 20px;
}

.command h3 {
    font-size: 1.5rem;
    color: #0056b3;
    background: #e9ecef;
    padding: 10px;
    border-left: 5px solid #0056b3;
    border-radius: 5px;
    margin-bottom: 10px;
}

.command p {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.5;
}

.command p strong {
    color: #0056b3;
}

/* Footer Styles */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: #333;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


footer p {
    font-size: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 10px 0;
    }

    main h2 {
        font-size: 1.8rem;
    }

    .command h3 {
        font-size: 1.3rem;
    }

    .command p {
        font-size: 1rem;
    }
}
